.App {
  align-items: center;
  margin-left: 100px;
}

.Form{
  display: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

th{
  border-top: 5px solid black;
}

td, th {
  border-right: 3px solid black;
  border-top: 3px solid black;
  padding: 20px;
}

table{
  border-spacing: 10;
  border: 5px black;
}

input[type="date"],
input[type="text"],
input[type="number"] {
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #007bff;
  cursor: pointer;
}
